[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start-prod = "python run.py"
start-stage = "python run.py"
start-dev = "nodemon run.py"
